{% extends "layout.twig" %}

{% block title %} Nosso index {% endblock %} 

{% block aplicacao %}
<h1>Esse é o nosso index</h1>
{% endblock %}

{% block conteudo %}
Olá tst. Esse é o index
{% endblock %}