<html>

<head>

	<title> {% block title %} Nosso Template {% endblock %} </title>

</head>

<body>

	{% block aplicacao %}
	<h1>Essa é nossa aplicação</h1>
	{% endblock %}

	{% block conteudo %}
	{% endblock %}

	<footer>Todos os direitos reservados.</footer>

</body>

</html>